p {
  text-indent: 1em;
}

h1 {
  font-size: 21pt;
}

a:link {
  color: #2c4f54;
}

a:visited {
  color: #6f4b3e;
}

body {
  font-family: serif;
  margin: 0;
  color: #171917;
  background-color: #eee0b7;
}

